* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}


/* Layout */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 1.4rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  padding: 1rem 1.4rem;
}

a {
  text-decoration: none;
}


/* Fonts */

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  overflow-wrap: break-word;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }